<div class="footer">
  <hr />
  <p>{{ .Corporation }}&middot; {{ .CompanyAddress }}</p>

  <ul>
    <li><a href="{{ .URLS.Product }}">Sign In</a></li>
    <li><a href="{{ .URLS.Root }}/privacy/">Privacy Policy</a></li>
    <li><a href="{{ .URLS.Root }}/terms/">Terms of Service</a></li>
    <li><a href="{{ .URLS.Root }}/unsubscribe?email={{ .EmailData.Recipient.Email }}">Unsubscribe</a></li>
  </ul>

  <p>Copyright &copy; <a href="{{ .URLS.Root }}">{{ .Corporation }}</a>, All Rights Reserved</p>
</div>