{{ template "base.html" . }}

{{ define "title" }}Organization Deletion Notice{{ end }}
{{ define "preheader" }}Your organization {{ .OrganizationName }} has been scheduled for deletion{{ end }}

{{ define "content" }}
<div class="content">
  {{- if .LogoURL }}
  <img src="{{ .LogoURL }}" alt="{{ .CompanyName }}" style="width: 100px; height: auto;" />
  {{- end }}

  <p>Hello,</p>

  <p>This email is to notify you that your organization {{ .OrganizationName }} has been scheduled for deletion.</p>

  <p>
    <strong>Scheduled deletion date:</strong> {{ .Date.Format "January 2, 2006" }}
  </p>

  {{- if .URLS.Billing }}
  <p>If you want to keep your account from deletion before the aforementioned date, you need to add a payment method to your
account : </p>

  <table border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td align="center" class="button">
        <a rel="noopener" target="_blank" href="{{ .URLS.Billing }}">Add a payment method</a>
      </td>
    </tr>
  </table>

  <p>Or copy and paste this URL into your browser:</p>

  <p><a href="{{ .URLS.Billing }}">{{ .URLS.Billing }}</a></p>
  {{- end }}

  <p>If you believe this was done in error, please contact our support team immediately at
    <a href="mailto:{{ .SupportEmail }}">{{ .SupportEmail }}</a>.
  </p>

  <p><br />The {{ .CompanyName }} Team<br /></p>
</div>
{{ end }}
