{{ template "base.html" . }}

{{ define "title" }}Your {{ .CompanyName }} Password Has Been Reset{{ end }}
{{ define "preheader" }}Confirming that your password has successfully been reset.{{ end }}

{{ define "content" }}
<div class="content">
  {{- if .LogoURL }}
  <img src="{{ .LogoURL }}" alt="{{ .CompanyName }}" style="width: 100px; height: auto;" />
  {{- end }}

  <p>Your {{ .CompanyName }} password has been successfully reset - no further action is required on your part if you submitted
    the
    password reset.</p>

  <p>If you did not request a password reset, please contact our Customer Support team immediately at
    <a href="mailto:{{ .SupportEmail }}">{{ .SupportEmail }}</a> - your account security is important to us.</p>

  <p><br />The {{ .CompanyName }} Team<br /></p>
</div>
{{ end }}